.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  gap: 16px;
  margin: 0 0 92px;
  padding: 0 48px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    margin: 0 0 88px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 375px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    margin: 0 0 64px;
    padding: 0 16px;
    gap: 12px;
  }
}