.places {
  margin: 92px 0;
  padding: 0 148px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    row-gap: 73px;
    margin: 88px 0 90px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 0;
    row-gap: 50px;
    margin: 64px 0 66px;
  }
}