.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 18px;
}

@media screen and (max-width: 490px) {
  .footer__links {
    column-gap: 3px;
  }
}

@media screen and (max-width: 425px) {
  .footer__links {
    column-gap: 0;
    flex-direction: column;
    row-gap: 32px;
  }
}