.place {
  display: grid;
  grid-template-areas: 
  "title website"
  "image text";
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 4.6fr 4.84fr;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 560px) {
  .place {
    column-gap: 15px;
  }
}

@media screen and (max-width: 480px) {
  .place {
    column-gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 100%;
    grid-template-areas: 
    "title"
    "website"
    "image" 
    "text";
  }
}


@media screen and (max-width: 320px) {
  .place {
    row-gap: 0;
    column-gap: 0;
  }
}